/* 
    Author     : Petr Bednář 
*/

.homepage-recently-added-title {
    -fx-text-fill: -fx-primary-text-color;
    -fx-padding: 50 0 20 0;
    -fx-font-size: 16px; 
    -fx-font-family: 'Source Sans Pro';
}